*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
	z-index: 1;
}
#information{
	position: absolute;
	z-index: 3;
	left: 0;
	top:0;
	height: 100%;
	display: grid;
	grid-template-rows: 40% auto;
	grid-template-columns: 100%; 
	background: #fff;
}
#information > img{
	max-height: 100%;
}
